.list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.775rem;
  letter-spacing: 0.1em;
  position: sticky;
  top: 0;
}

.list > li {
  margin-bottom: 0.25rem;
}

.list a {
  text-decoration: none;
  padding: 0.25em .5em;
  display: block;
  border-radius: 2px;
  transition: 1s all;
}

.active, .list a:hover {
  background-color: var(--color-accent);
  transition: .25s all;
}

.list a:not(.active) {
  opacity: 0.5;
}
