.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background: var(--color-nav-bg);
  color: var(--color-nav-fg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  flex: 0 0 0px;
}

.header a {
  text-decoration: none;
}

.logo-main {
  width: 200px;
  display: block;
  margin-left: -5px;
}

.tagline {
  font-family: var(--body-font-family);
  font-weight: 400;
  font-size: .625rem;
  margin: 0;
}

.main {
  padding: 1rem 2rem;
  flex: 1 1 auto;
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
  }
}

.footer {
  padding: 1rem 2rem;
  flex: 0 0 0px;
}

.nav > * {
  margin-left: 1em;
}
